<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log In</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet">
</head>

<body>
    <form method="POST" class="form">
        <h2 class="form__heading heading">Sign In</h2>
        <span class="form__separator" align="left"></span>

        <div class="form__message message">
            <p class="message__text">{{ .message }}</p>
        </div>

        <div class="input-wrap">
            <input type="email" name="email" id="email" class="input-wrap__input" required>
            <label for="email" class="input-wrap__label">Email
                <span class="input-wrap__label--star">*</span>
            </label>
        </div>
        <div class="input-wrap">
            <input type="password" name="password" id="password" class="input-wrap__input" required>
            <label for="password" class="input-wrap__label">Password
                <span class="input-wrap__label--star">*</span>
            </label>
        </div>

        <button type="submit" class="button button--primary">Sign in</button>

        <p class="form__link form__link--first">Don't have an account?
            <a href="/register"> Register </a>
        </p>
        <p class="form__link">Forgot your password?
            <a href="/forgot"> Reset </a>
        </p>
    </form>

    <script src="dist/app.bundle.js"></script>
</body>

</html>