<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet">
</head>

<body>
    <form method="POST" class="form">
        <h2 class="form__heading heading">Profile Details</h2>
        <span class="form__separator" align="left"></span>

        <div class="input-wrap">
            <input type="text" name="full_name" value="{{ .fullName }}" id="full_name" class="input-wrap__input">
            <label for="full_name" class="input-wrap__label">Full Name</label>
        </div>
        <div class="input-wrap">
            <input type="email" name="contact_email" value="{{ .contactEmail }}" id="contact_email" class="input-wrap__input" required>
            <label for="contact_email" class="input-wrap__label">Alternate Email</label>
        </div>
        <div class="input-wrap">
            <input type="text" name="address" value="{{ .address }}" id="address" class="input-wrap__input">
            <label for="address" class="input-wrap__label">Address</label>
        </div>
        <div class="input-wrap">
            <input type="tel" name="phone" value="{{ .phone }}" id="phone" class="input-wrap__input" required>
            <label for="phone" class="input-wrap__label">Phone Number</label>
        </div>

        <button type="submit" class="button button--primary">Save Profile</button>
        <button type="submit" class="button button--default">
            <a href="/">Cancel</a>
        </button>
    </form>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvb70mxfZjBoP_joLTFt_vWR-cDS1vuT4&libraries=places&callback=initAutocomplete"
        async defer></script>
    <script src="dist/app.bundle.js"></script>

</body>

</html>