<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet">
</head>

<body>
    <form method="POST" class="form" name="form" id="form">
        <h2 class="form__heading heading">Sign Up</h2>
        <span class="form__separator" align="left"></span>

        <div class="form__message message">
            <p class="message__text">{{ .message }}</p>
        </div>

        <div class="input-wrap">
            <input type="email" name="email" id="email" class="input-wrap__input" required>
            <label for="email" class="input-wrap__label">Email
                <span class="input-wrap__label--star">*</span>
            </label>
            <div id="email_error"></div>
        </div>
        <div class="input-wrap">
            <input type="password" name="password" id="password" class="input-wrap__input" required>
            <label for="password" class="input-wrap__label">Password
                <span class="input-wrap__label--star">*</span>
            </label>
        </div>
        <div class="input-wrap">
            <input type="password" name="password_confirm" id="password_confirm" class="input-wrap__input" required>
            <label for="password_confirm" class="input-wrap__label">Confirm Password
                <span class="input-wrap__label--star">*</span>
            </label>
        </div>

        <div class="form__validation validation">
            <p class="validation__text">
                <span id="check-1" class="validation__text--check">&#10003;</span>
                <span id="cond-1" class="validation__text--cond"> Password must be at least 8 characters!</span>
            </p>
            <p class="validation__text">
                <span id="check-2" class="validation__text--check">&#10003;</span>
                <span id="cond-2" class="validation__text--cond"> Password confirmation</span>
            </p>
        </div>

        <button type="submit" class="button button--default">Sign Up</button>

        <p class="form__link">Already have an account?
            <a href="/login"> Sign In </a>
        </p>
    </form>

    <script src="dist/app.bundle.js"></script>

</body>

</html>