* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    &:active,
    &:focus {
        color: inherit;
    }
}

button,
a.button,
input[type="reset"],
input[type="submit"],
input[type="button"],
input[type="image"] {
    background: none;
    border: 0;
    cursor: pointer;
    display: inline-block;
    overflow: visible;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    width: auto;
    -webkit-appearance: none;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
    line-height: normal !important;
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
    background: none;
    border: none;
    margin: 0;
    outline: none;
    padding: 0;
    text-align: left;
    vertical-align: top;
    font-size: inherit;
    font-family: inherit;
    -webkit-appearance: none;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}