$clr-white: #FFF;
$clr-blue: #49abfe;
$clr-border: #cbd2df;
$clr-input: #8495b7;
$input-txt: #3e495e;
$clr-red: #f44368;
$clr-green: #43f461;
$clr-btn: #f89a35;
$btn-hover: #f8bf34;
$light: 300;
$normal: 400;
$bold: 700;
$lh: 2.188em;
$ls: .02em;
$ls-big: .12em;
$font-main: 'Source Sans Pro',
sans-serif;
$small: .813em;
$big: 1.750em;