@import "_reset";
@import "_variables";
@import "_mixins";
body {
    width: 100%;
    height: 100%;
    font-family: $font-main;
    line-height: $lh;
    letter-spacing: $ls;
    color: $input-txt;
    background: url(../images/bg.jpg) no-repeat center center fixed;
    background-size: cover;
}

.button {
    width: 140px;
    height: 50px;
    color: $clr-white;
    letter-spacing: $ls-big;
    font-weight: $bold;
    border-radius: 4px;
    font-size: $small;
    text-transform: uppercase;
    @include transition($dur: .2s);
    &--primary {
        background: $clr-btn;
        &:hover {
            background: $btn-hover;
        }
    }
    &--default {
        background: $clr-blue;
        &:hover {
            background: $clr-red;
        }
    }
    a {
        display: block;
        width: 100%;
        line-height: 50px;
    }
}

.form,
.profile {
    max-width: 350px;
    min-height: 300px;
    margin: 3em auto;
    background: $clr-white;
    box-shadow: 0 0 142px rgba(#010101, .2);
    padding: 64px 70px;
    @include transition;
    &__heading {
        font-size: $big;
        font-weight: $light;
    }
    &__separator {
        display: block;
        width: 40px;
        height: 2px;
        background: $clr-blue;
        margin: 27px 0;
    }
    &__link {
        &--first {
            margin-top: 2em;
        }
        a {
            color: $clr-blue;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__detail {
        padding: .5em 0;
        &--first {
            margin-top: 2em;
        }
        &--last {
            margin-bottom: 2em;
        }
    }
}

.input-wrap {
    position: relative;
    color: $clr-input;
    height: 45px;
    margin: 50px 0;
    &__label {
        position: absolute;
        width: 100%;
        line-height: 1;
        @include transition($dur: .2s);
        &:not(:first-child) {
            top: 0;
        }
        &--star {
            color: $clr-red;
        }
    }
    &__input {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 25px 0 0;
        border-bottom: 1px solid $clr-border !important;
        color: $clr-input;
        &:focus,
        &:valid {
            color: $input-txt;
            border-color: $clr-blue !important;
            +label {
                font-size: 11px;
                text-transform: uppercase;
                font-weight: $bold;
            }
        }
    }
}

.message {
    visibility: hidden;
    padding: 0;
    height: 0;
    background: rgba($clr-red, 1);
    border-radius: 4px;
    color: $clr-white;
    text-align: center;
    line-height: 1.5;
    @include transition;
    &--success {
        background: rgba($clr-green, 1)
    }
    &__text {
        transition-delay: .4s;
    }
    &.active {
        visibility: visible;
        height: auto;
        padding: 1em;
    }
}

.validation {
    margin-bottom: 2em;
    &__text {
        color: $clr-input;
    }
}